.contact-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  & + & {
    margin-top: 2rem;
  }
}

.contact-image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.contact-info {
  flex: 1 1;
  padding: 0 1rem;
}

.contact-name {
  font-weight: 500;
  font-size: 1.4rem;
  color: #3f4054;
}

.contact-status {
  font-size: 1.2rem;
  color: #737377;
}

.contact-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
