.box {
  position: absolute;
  top: 38rem;
  transform: translateY(2rem);
  transition: transform 300ms;
  display: flex;
  z-index: 1;

  .tag {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background-color: #dddddd;
  }

  button {
    width: 2rem;
    background-color: #aaaaaa;
  }
}
