.box {
  overflow-y: auto;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  z-index: 999;
  flex-grow: 9;
}

.reply {
  white-space: pre-wrap;
  word-break: break-all;
  padding: 0;
  font-size: 1.4rem;
}

.reply.active {
  padding: 1rem 2rem;
  margin: 2rem 2rem 0;
  background: beige;
}

.input {
  resize: none;
  border: none;
  height: 100%;
  padding: 2rem;
  font-size: 1.4rem;
}

.input:focus {
  outline: none;
}
