.box {
  overflow-y: auto;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  z-index: 999;
  flex-grow: 9;
}

.box::-webkit-scrollbar {
  width: 4px;
}

.box::-webkit-scrollbar-track {
  background: rgb(228, 228, 228);
}

.box::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border: 2px solid rgb(138, 138, 138);
}

.reply {
  white-space: pre-wrap;
  word-break: break-all;
  padding: 0;
  font-size: 1.4rem;

  position: relative;
}

.delete-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-weight: 700;
}

.reply.active {
  padding: 1rem 2rem;
  margin: 2rem 2rem 0;
  background: beige;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: 2rem;
  font-size: 1.4rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input::-webkit-scrollbar {
  display: none;
}

.input:focus {
  outline: none;
}
