.chat {
  height: 40rem;
  width: 30rem;
  border: 0.2rem solid #dddddd;
  overflow-y: scroll;

  .message {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 28rem;
    border: 0.1rem solid #000000;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
    }

    textarea {
      width: 20rem;
      border: none;
      resize: none;
      pointer-events: none;
    }

    .msg {
      width: 20rem;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}

.buttonBox {
  display: flex;
  align-items: center;

  button {
    border: 0.1rem solid red;
    height: 3rem;
  }
}

.footer {
  display: flex;
  height: 10rem;

  .input {
    overflow-y: scroll;
    height: 10rem;
    border: 0.2rem solid #dddddd;
    background-color: #ffffff;
    z-index: 9999;

    .reply {
      width: 25rem;
      white-space: pre-wrap;
      word-break: break-all;
    }

    div {
      width: 25rem;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  button {
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid #dddddd;
  }
}
