.main {
  flex: 1 1;
  padding: 2rem;
  gap: 2rem;

  display: flex;
  flex-direction: column;
}

.chat-box {
  width: 100%;
  border: 1px solid #dddddd;
  overflow-y: auto;
  flex: 1 1;
  padding: 2rem;
  border-radius: 4px;
}

.input-box {
  display: flex;
  height: 20rem;
  gap: 2rem;
}

.submit-button {
  flex-grow: 1;
  background: black;
  color: white;
  border: 2px solid black;
  letter-spacing: 4px;
  font-weight: 700;
  border-radius: 4px;
}
