.box {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 0 1rem;

  & + & {
    margin-top: 2rem;
  }
}

.box.my-msg {
  justify-content: flex-end;
}

.profile-image {
  width: 5rem;
  height: 5rem;
  box-shadow: inset 0 0 0 3px #f1f1f1;
  padding: 1rem;
  border-radius: 50%;
}

.msg-author {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1rem;
}

.msg-date {
  font-size: 1rem;
  font-weight: 300;
}

.msg {
  white-space: pre-wrap;
  word-break: break-all;
  background: beige;
  padding: 2rem;
  border-radius: 4px;
  font-size: 1.4rem;
  min-width: 18rem;
}

.msg-buttons {
  display: flex;
}

.msg-button {
  padding: 0.5rem;
  border-radius: 4px;
}

.msg-button:hover {
  color: red;
}
