.sidebar-profile {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.user-image {
  width: 6rem;
  border-radius: 2rem;
}

.user-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.user-name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3f4054;
}

.user-status {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status-message {
  font-size: 1.2rem;
  font-weight: 500;
  color: #5f606e;
}

.status-color {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(130, 245, 130);
}
