.switch {
  display: flex;
  width: 100%;
  margin-top: 3rem;
}

.button {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  opacity: 0.25;

  & > svg {
    margin-bottom: 0.4rem;
  }
}

.button:first-child {
  position: relative;
}

.button:first-child::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 2.1rem;
  background: lightgray;
}

.button.active {
  opacity: 1;
}
