.sidebar-search {
  width: 100%;
  border: none;
  background: #f1f4ff;
  padding: 1.5rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.contact-list {
  padding: 2rem 1rem;
  overflow-y: auto;
  max-height: 50vh;
}

.contact-list::-webkit-scrollbar {
  width: 4px;
}

.contact-list::-webkit-scrollbar-track {
  background: rgb(228, 228, 228);
}

.contact-list::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border: 3px solid rgb(138, 138, 138);
}
