.contacts-search-input {
  width: 100%;
  border: none;
  background: #f1f4ff;
  padding: 1.5rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  outline: none;
  border: 1px solid transparent;

  &:focus {
    border: 1px dotted #aebffc;
  }
}
